/*
	Generic styles
*/

.center {
	text-align: center;
}

.fa {
	vertical-align: middle;
}

.invisible {
	display: none;
}

/*
	Unixcorn styles
*/

.container {
	margin-top: 0;
}

.row {
	padding-top: 2%;
	padding-bottom: 2%;
}

.column {
	margin-left: 1%;
	margin-right: 1%;
}

.column:first-child {
	margin-left: 1%;
}

/*
	Featured section
*/

.featured {
	background: #474747;
	border: 5px;
	border-radius: 10px;
	color: #EEE;
}

.featured .double-table {
	margin: 0;
	width: 100%;
}

.featured .double-table td {
	border: 0;
	width: 50%;
	text-align: center;
	padding-bottom: 0;
}

.featured .button {
	color: #EEE;
	border-color: #EEE;
}

.featured h5 {
	margin-bottom: 0;
}
