---
title: Infrastructure
---

<main>
    <section class="presentation">
        <h1><%= 'infrastructure' %></h1>
    </section>
    <section>
		<div class="services">
			<article class="service">
				<a href="https://proxmox.com/en/"><img style="max-width: 60%" src="images/external/proxmox.png"></a>
				<p><%= t 'proxmox_description' %></p>
			</article>
			<article class="service">
				<a href="https://www.debian.org/index.fr.html"><img style="max-height: 80%" src="images/external/debian.png"></a>
				<p><%= t 'debian_description' %></p>
			</article>
			<article class="service">
				<a href="https://caddyserver.com"><img style="max-width: 60%" src="images/external/caddy.png"></a>
				<p><%= t 'caddy_description' %></p>
			</article>
		</div>
    </section>
</main>
