---
title: Infrastructure
---

<main>
    <section class="presentation">
        <h1>Infrastructure</h1>
    </section>
    <section>
	    <div class="services">
		    <article class="service">
				<a href="https://linuxcontainers.org/lxd/"><img style="max-width:150px; display:block; margin: 0 auto;" src="/images/external/containers.png"></a>
				<p><%= t 'lxd_description' %>
					
				</p>
			</article>
			<article class="service">
				<a href="https://www.ubuntu.com/server"><img style="max-width:200px; display:block; margin: 0 auto;" src="/images/external/ubuntu.png"></a>
				<p><%= t 'ubuntu_description' %>
					
				</p>
			</article>
			<article class="service">
				<a href="https://caddyserver.com"><img align="center" style="max-width:250px; display:block; margin: 0 auto;" src="/images/external/caddy.png"></a>
				<p><%= t 'caddy_description' %></p>
			</article>
	    </div>
    </section>
</main>
