---
title: Legals
---

<main>
	<section class="presentation">
		<h1><%= t 'legals' %></h1>
	</section>
	<section>
		<article>
			 <%= partial('legals-' + I18n.locale.to_s) %>			
		</article>

		<p><%= t 'legals_edit_date' %></p>
	</section>
</main>
