		<footer class="row center">
			<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="images/external/cc-by-nc-sa.png" /></a><br />© 2015-2017 <a href="https://unixcorn.org">Unixcorn Project</a>
			<br><a class="button button-primary" href="http://unixcorn.org/rules.html">CGU</a> <a class="button button-primary" href="http://unixcorn.org/legals.html">Mentions légales</a>
		</footer>
		<div class="popin-layer" id="layer"></div>
		<div class="popin-container" id="popin">
			<div class="popin-topbar">
				<p class="popin-title">Votre attention</p>
				<span class="popin-close" id="close" role="button"></span>
			</div>
			<div class="popin-content">
				<p class="popin-message">
Depuis 2015, Unixcorn est un projet ayant pour but de fournir des services web gratuits et respectueux de votre vie privée, ce qui est quelque chose qui nous tient particulièrement à coeur. Malheureusement, la location de machine pour maintenir l’infrastructure a un coût, et depuis sa création, la majeure partie de son financement est assurée par <a href="https://github.com/mathias-b" target="_blank">Mathias</a>. En l'état, il est donc difficile d’assurer la pérennité des services.
<br>
<br>
C’est pour cette raison que nous avons décidé de réorganiser profondément le projet, en essayant de remettre en question notre organisation. Pour cela, nous avons décidé, dans un premier temps, de réduire les coûts actuels en conservant uniquement nos services les plus utilisés. 
<br>
<br>
Les utilisateur·ice·s de nos services Mastodon et Nextcloud ne sont donc pas concerné·e·s. 
<br>
<br>
En revanche, nous allons mettre fin a notre service de forge logiciel Gitea, d'ici le mois prochain. L'accès est maintenant réservé à des fins de sauvegarde et de migration. 
<br>
<br>
Les services ne nécessitant pas d'inscription, tels que PrivateBin, Jirafeau et Alltube ne sont pas concernés et restent maintenus.
<br>
<br>
Nous mettons aussi fin à notre service de chat instantané mais nous continuerons à essayer de vous offrir un service de discussion et de support sur notre <a href="https://forum.unixcorn.org/" target="_blank">forum de discussion</a>. Nous sommes là pour vous aider 😊.
<br>
<br>
Si vous souhaitez apporter votre contribution financière (qui nous aiderait grandement aussi modeste soit-elle 😬), tout d'abord, merci ! Et ensuite, pour ce faire, merci de visiter notre profil <a href="https://liberapay.com/unixcorn-project" target="_blank">Liberapay</a>.
<br>
<br>
Nous allons donc maintenant nous concentrer sur le futur du projet, retravailler notre organisation, prendre le temps de réflechir aux objectifs que nous aimerions remplir, au service et à l'experience que nous souhaitons proposer. N'hésitez pas à nous suivre sur <a href="https://unixcorn.xyz/@unixcorn" target="_blank">Mastodon</a> si vous êtes interessé·e·s par la suite !

				</p>
			</div>
		</div>
		<script>
				window.addEventListener('DOMContentLoaded', function () {
					var popin = document.getElementById('popin');
					var layer = document.getElementById('layer');
					var close = document.getElementById('close');

					function removeContent () {
						popin.parentNode.removeChild(popin);
						layer.parentNode.removeChild(layer);
					}

					close.addEventListener('click', removeContent);
					layer.addEventListener('click', removeContent);
				}, false);

		</script>


	</body>
</html>