		<footer class="row center">
			<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="images/external/cc-by-nc-sa.png" /></a><br />© 2015-2017 <a href="https://unixcorn.org">Unixcorn Project</a>
			<br><a class="button button-primary" href="http://unixcorn.org/rules.html">CGU</a> <a class="button button-primary" href="http://unixcorn.org/legals.html">Mentions légales</a>
		</footer>

		<!-- Start of Rocket.Chat Livechat Script -->
		<script type="text/javascript">
		(function(w, d, s, u) {
			w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
			var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
			j.async = true; j.src = 'https://chat.unixcorn.org/packages/rocketchat_livechat/assets/rocketchat-livechat.min.js?_=201702160944';
			h.parentNode.insertBefore(j, h);
		})(window, document, 'script', 'https://chat.unixcorn.org/livechat');
		</script>
		<!-- End of Rocket.Chat Livechat Script -->
		
	</body>
</html>
