{{ partial "header.html" . }}
<main>
	<h3><i class="fa fa-street-view"></i>&nbsp;&nbsp;Services gratuits</h3>
	<section class="featured">
		<article class="half">
			<h4><i class="fa fa-info-circle"></i>&nbsp;&nbsp;Nos offres</h4>
			<p><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;Afin de ne pas dégrader l'accès aux services des autres utilisateurices, certains services sont limités dans leur usage.</p>
		</article>
		<article class="half">
			<h4><i class="fa fa-ticket"></i>&nbsp;&nbsp;Plus de besoins ?</h4>
			<p>Si vos besoins excèdent nos ressources nous vous invitons à vous tourner vers les services de l'entreprise <a href="https://whiskers.systems/fr/">Whiskers Systems</a> il vous sera proposé des offres en parfait accord avec vos besoins.</p>
		</article>
	</section>
	<h3>Services sans inscription</h3>
	<section>
		<article class="third service">
			<a class="button" href="https://paste.unixcorn.org"><i class="fa fa-clipboard fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Partage de texte</a>
			<aside>
				<a href="https://git.unixcorn.org/UnixcornProject/public-documentation/wikis/service-privatebin"><i class="fa fa-info-circle fa-2x"></i></a>
			</aside>
			<p>Partagez du texte de façon sécurisée avec <a href="https://privatebin.info">PrivateBin</a>. Idéal pour les configurations, code, logs, ou tout autre document qui n'est pas de nature publique.</p>
		</article>
		<article class="third service">
			<a class="button" href="https://pics.unixcorn.org"><i class="fa fa-picture-o fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Partage d'images</a>
			<aside>
				<a href="https://git.unixcorn.org/UnixcornProject/public-documentation/wikis/service-lutim"><i class="fa fa-info-circle fa-2x"></i></a>
			</aside>
			<p>Partagez vos images (screenshots, photos) avec <a href="https://lut.im/">Lutim</a>, en public ou en privé. Vous pourrez facilement les réutiliser ailleurs sur Internet (forum, chat).</p>
		</article>
		<article class="third service">
                        <a class="button" href="https://drop.unixcorn.org"><i class="fa fa-cloud-upload fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Partage de fichiers divers</a>
                        <aside>
                                <a href="https://git.unixcorn.org/UnixcornProject/public-documentation/wikis/service-jirafeau"><i class="fa fa-info-circle fa-2x"></i></a>
                        </aside>
                        <p>Partagez vos fichiers divers (archives, etc) avec <a href="https://gitlab.com/mojo42/Jirafeau">Jirafeau</a>. Vous pouvez téléverser jusqu'à 3 Go, les protéger avec un mot-de-passe et les garder en ligne jusqu'à un mois .</p>
                </article>
	</section>
	<h3>Inscription publique</h3>
	<section>
		<article class="half service">
			<a class="button" href="https://cloud.unixcorn.org"><i class="fa fa-cloud fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Cloud</a>
			<aside>
				<a href="https://git.unixcorn.org/UnixcornProject/public-documentation/wikis/service-cloud"><i class="fa fa-info-circle fa-2x"></i></a>
			</aside>
			<p>Besoin d'accéder à vos fichiers depuis plusieurs machines ? <a href="https://nextcloud.com">Nextcloud</a> est là.</p>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;Espace alloué : 1Go (extensible)
			<br><i class="fa fa-info-circle"></i>&nbsp;&nbsp;Profil exportable à tout moment
			<br><br><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;Suppression mensuelle des comptes inutilisés.
		</article>
		<article class="half service">
			<a class="button" href="https://git.unixcorn.org"><i class="fa fa-code-fork fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Forge (Gitlab)</a>
			<aside>
				<a href="https://git.unixcorn.org/UnixcornProject/public-documentation/wikis/service-gitlab"><i class="fa fa-info-circle fa-2x"></i></a>
			</aside>
			<p>Pour coopérer sur un projet versionné en toute sérénité, <a href="https://about.gitlab.com">Gitlab</a> fait des merveilles.</p>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;Espace alloué : Usage raisonnable
			<br><i class="fa fa-info-circle"></i>&nbsp;&nbsp;Profil exportable à tout moment
		</article>
	</section>
	<section>
		<article class="half service">
			<a class="button" href="https://forum.unixcorn.org"><i class="fa fa-comments-o fa-2x"></i>&nbsp;&nbsp;Forum</a>
			<aside>
				<i class="fa fa-info-circle fa-2x"></i>
			</aside>
			<p>Un forum de discussion pour régler les éventuels soucis, travailler sur les projets futurs et tout simplement faire vivre notre communauté.</p>
		</article>
		<article class="half service">
			<a class="button" href="https://mattermost.unixcorn.org"><i class="fa fa-whatsapp fa-2x"></i>&nbsp;&nbsp;Organisation d'équipes</a>
			<aside>
				<i class="fa fa-info-circle fa-2x"></i>
			</aside>
			<p>Un service polyvalent permettant de faciliter l'organisation des équipes travaillant sur des projets divers.</p>
			<i class="fa fa-info-circle"></i>&nbsp;&nbsp;Profil lié à votre compte Gitlab
		</article>
	</section>
	<h3>Infrastructure</h3>
	<section>
		<article class="third service">
			<a href="https://whiskers.systems/fr/"><img style="max-width: 60%" src="images/external/whiskers-systems.png"></a>
			<p>« Whiskers Systems » est une entreprise d'hébergement et de services web aux entreprises et particuliers, nous nous reposons sur leur infrastructure matérielle implantée au coeur de l'Europe et dotée des dernières technologies.</p>
		</article>
		<article class="third service">
			<a href="https://www.debian.org/index.fr.html"><img style="max-height: 80%" src="images/external/openlogo-nd-50.png"></a>
			<p>« Debian » GNU/Linux est un système d'exploitation libre dit universel. Il est utilisé à tous les niveaux dans l'infrastructure de Whiskers Systems dont nous bénéficions.</p>
		</article>
		<article class="third service">
			<a href="https://letsencrypt.org"><img style="max-width: 60%" src="images/external/letsencrypt-logo-horizontal.svg"></a>
			<p>« Let's Encrypt  » est une autorité de certification fournissant des certificats X.509 gratuits pour le protocole TLS. L'ensemble de nos services et sites internet reposent sur des certificats fournis par le projet Let's Encrypt.</p>
		</article>
	</section>
</main>
{{ partial "footer.html" }}
