{{ partial "header.html" . }}
<main>

	<h3>Services sans inscription</h3>
	<section>
		<article class="half service">
			<a class="button" href="https://paste.unixcorn.org"><i class="fa fa-clipboard fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Partage de texte</a>
			<aside>
				<a href="https://code.unixcorn.org/unixcorn-project/public-documentation/wiki/service-privatebin"><i class="fa fa-info-circle fa-2x"></i></a>
			</aside>
			<p>Partagez du texte de façon sécurisée avec <a href="https://privatebin.info">PrivateBin</a>. Idéal pour les configurations, code, logs, ou tout autre document qui n'est pas de nature publique.</p>
		</article>
		<article class="half service">
			<a class="button" href="https://pics.unixcorn.org"><i class="fa fa-picture-o fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Partage d'images</a>
			<aside>
				<a href="https://code..unixcorn.org/unixcorn-project/public-documentation/wiki/service-lutim"><i class="fa fa-info-circle fa-2x"></i></a>
			</aside>
			<p>Partagez vos images (screenshots, photos) avec <a href="https://lut.im/">Lutim</a>, en public ou en privé. Vous pourrez facilement les réutiliser ailleurs sur Internet (forum, chat).</p>
		</article>
	</section>
	<section>
		<article class="half service">
      <a class="button" href="https://drop.unixcorn.org"><i class="fa fa-cloud-upload fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Partage de fichiers divers</a>
      <aside>
        <a href="https://code.unixcorn.org/unixcorn-project/public-documentation/wiki/service-jirafeau"><i class="fa fa-info-circle fa-2x"></i></a>
      </aside>
      <p>Partagez vos fichiers divers (archives, etc) avec <a href="https://gitlab.com/mojo42/Jirafeau">Jirafeau</a>. Vous pouvez téléverser jusqu'à 8 Go, les protéger avec un mot-de-passe et les garder en ligne jusqu'à un mois .</p>
	</article>
	<article class="half service">
      <a class="button" href="https://yt-dl.unixcorn.org"><i class="fa fa-youtube fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;YouTube download</a>
      <aside>
        <i class="fa fa-info-circle fa-2x"></i>
      </aside>
      <p>Téléchargez des vidéos YouTube, convertissez les ou extrayez en le son avec <a href="https://code.unixcorn.org/unixcorn-project/Alltube">Alltube</a>.</p>
    </article>
	</section>
	<section class="featured">
		<article class="half">
			<h4><i class="fa fa-info-circle"></i>&nbsp;&nbsp;Nos offres</h4>
			<p><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;Afin de ne pas dégrader l'accès aux services des autres utilisateur-ice-s, certains services sont limités dans leur usage.</p>
		</article>
		<article class="half">
			<a href="https://liberapay.com/unixcorn/donate"><h4><i class="fa fa-ticket"></i>&nbsp;&nbsp;Faire un don régulier</h4></a>
			{{ partial "donationBar" }}
		</article>
	</section>
	<h3>Inscription publique</h3>
	<section>
		<article class="half service">
			<a class="button" href="https://cloud.unixcorn.org"><i class="fa fa-cloud fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Cloud</a>
			<aside>
				<a href="https://code.unixcorn.org/unixcorn-project/public-documentation/wiki/service-cloud"><i class="fa fa-info-circle fa-2x"></i></a>
			</aside>
			<p>Besoin d'accéder à vos fichiers depuis plusieurs machines ? <a href="https://nextcloud.com">Nextcloud</a> est là.</p>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;Espace alloué : 1Go
			<br><i class="fa fa-info-circle"></i>&nbsp;&nbsp;Profil exportable à tout moment
			<br><br><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;Suppression mensuelle des comptes inutilisés.
		</article>
		<article class="half service">
			<a class="button" href="https://code.unixcorn.org"><i class="fa fa-code-fork fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Forge (Gitea)</a>
			<aside>
				<a href="https://code.unixcorn.org/unixcorn-project/public-documentation/wiki"><i class="fa fa-info-circle fa-2x"></i></a>
			</aside>
			<p>Pour coopérer sur un projet versionné en toute sérénité, <a href="https://gitea.io">Gitea</a> fait des merveilles.</p>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;Espace alloué : Usage raisonnable
			<br><i class="fa fa-info-circle"></i>&nbsp;&nbsp;Profil exportable à tout moment
		</article>
	</section>
	<section>
		<article class="half service">
			<a class="button" href="https://forum.unixcorn.org"><i class="fa fa-comments-o fa-2x"></i>&nbsp;&nbsp;Forum (Flarum)</a>
			<aside>
				<i class="fa fa-info-circle fa-2x"></i>
			</aside>
			<p>Un forum de discussion pour régler les éventuels soucis, travailler sur les projets futurs et tout simplement faire vivre notre communauté.</p>
		</article>
		<article class="half service">
			<a class="button" href="https://unixcorn.xyz"><i class="fa fa-share-square-o fa-2x"></i>&nbsp;&nbsp;Réseau social</a>
			<aside>
				<i class="fa fa-info-circle fa-2x"></i>
			</aside>
			<p>Notre instance du réseau social décentralisé Mastodon, nous y pratiquons une modération agressive pour garder notre bel endroit <i>safe</i> pour tou-te-s.</p>
		</article>
	</section>
	<h3>Infrastructure</h3>
	<section>
		<article class="third service">
			<a href="https://m.do.co/c/be688f2bad62"><img style="max-width: 60%" src="images/external/do.png"></a>
			<p>« DigitalOcean » est un service d'hébergement de serveurs virtuels, basés sur KVM et Qemu. Notre infrastructure repose sur ces technologies open-source, sous-traiter la gestion matérielle nous permet de nous concentrer sur le logiciel et nos services.</p>
		</article>
		<article class="third service">
			<a href="https://www.debian.org/index.fr.html"><img style="max-height: 90%" src="images/external/debian.png"></a>
			<p>« Debian » GNU/Linux est un système d'exploitation libre dit universel. Il est utilisé à tous les niveaux dans notre infrastructure, que ce soit en entrée sur nos proxy Nginx ou en back-end avec nos bases de données MariaDB et PostgreSQL.</p>
		</article>
		<article class="third service">
			<a href="https://caddyserver.com"><img style="max-width: 60%" src="images/external/caddy.png"></a>
			<p>« Caddy  » est un serveur web HTTP/2 avec intégration automatique du protocole de chiffrement TLS. L'ensemble de nos services et sites internet sont servis par nos front-end Caddy et les certificats du projet Let's Encrypt.</p>
		</article>
	</section>
</main>
{{ partial "footer.html" }}
