{{ partial "header.html" . }}
<main>
	<h2>CGU - Conditions d'utilisation des services</h2>
	<section>
		<h4>1. Instance « cloud », service d'hébergement de données</h4>
			<p>Le service d'hébergement de données, dit « cloud », est une instance Nextcloud standard où seul l'affichage (le thème) est personnalisé. Le service inclu l'hébergement, le partage, l'organisation de fichiers. L'application intégrée « Annonces » est utilisé par l'équipe d'administration pour faire passer des messages aux utilisateur-ice-s en prévision d'une action de maintenance (telle qu'une mise à jour par exemple).</p>
		<h5>Par votre inscription au service vous acceptez tacitement les règles d'utilisation suivantes :</h5>
		<ul>
			<li>Vous vous engagez à ne pas téléverser de contenu délicteux et à ne pas utiliser le service à des fins frauduleuses.</li>
			<li>Votre compte est supprimé au bout d'un mois complet d'inactivité (non connexion au site internet, synchronisation depuis n'importe quel logiciel client), il sera alors impossible de récupérer vos données.</li>
			<li>Vous êtes responsables de vos données, actuellement elles ne sont pas stockées sur un volume chiffré. Cela veut notamment dire que nos équipes d'administration peuvent y avoir accès.</li>
			<li>Vous autorisez l'équipe d'administration à vous contacter par e-mail (à l'adresse utilisée pour l'inscription), en cas de problème technique mais aussi simplement pour faire passer des informations en rapport direct avec le service utilisé.</li>
		</ul>
	<h4>2. Forum de discussion, Flarum</h4>
		<p>Le forum de discussion mis à disposition est une instance de Flarum agrémentée de quelques extensions et d'une traduction française du logiciel. Elle a vocation à permettre la communication entre les membres utilisateur-ice-s et administrateur-ice-s du projet. Bien évidemment les règles habituelles de bienséances sont à respecter, aucune parole ou comportement sexiste, raciste, xénophobe, homophobe ou encore transphobe ne sera toléré. De même nous refusons catégoriquement tout agisme ou classisme, comme tous les autres espaces du projet nous voulons y être porteur-euse-s de respect de l'autre et de solidarité.<br /> En cas de problème la personne contrevenant à ces règles pourra se voir retirer ses accès à l'ensemble des services du projet, et ce sans préavis quelconque.</p>
	<h4>3. Réseau social décentralisé, Mastodon</h4>
		<p>Le service Matstodon est une alternative viable à Twitter. Vous y créez votre compte et vous laissez guider. Ce service dispose de ses propres règles d'utilisation, vous les trouverez à l'adresse suivante : https://unixcorn.xyz/about/more</p>
    	<h4>4. Discussion instantanée, Mattermost</h4>
		<p>Nous mettons à disposition un serveur de discussion instantanée, une fois inscrit-e vous pouvez rejoindre le groupe dédié au projet et ainsi discuter librement avec les membres d'Unixcorn. Vous avez aussi la possibilité de créer votre propre équipe et d'administrer cette dernière par vous-même. Les règles d'usage sont identiques à celles du forum mentionnées plus haut, elles sont aussi valable au sein de votre équipe.</p>
		<p>Page modifiée la dernière fois le 3 aout 2017.</p>
	</section>
</main>
{{ partial "footer.html" }}
