{{ partial "header.html" . }}
<main>
	<h2>CGU - Conditions d'utilisation des services</h2> 
	<section>
		<h4>1. Instance « cloud », service d'hébergement de données</h4>
			<p>Le service d'hébergement de données, dit « cloud », est une instance ownCloud standard où seul l'affichage (le thème) est personnalisé. Le service inclu la mise à disposition d'outils bureautiques en ligne tels que l'éditeur collaboratif de documents, le gestionnaire de calendriers, le gestionnaire de répertoires, l'agrégateur de flux RSS et l'organisateur de galerie d'images. Ceci en plus de l'hébergement, le partage, l'organisation de fichiers. L'application intégrée « Annonces » est utilisé par l'équipe d'administration pour faire passer des messages aux utilisateur-ice-s en prévision d'une action de maintenance (telle qu'une mise à jour par exemple).</p>
		<h5>Par votre inscription au service vous acceptez tacitement les règles d'utilisation suivantes :</h5>
		<ul>
			<li>Vous vous engagez à ne pas téléverser de contenu délicteux et à ne pas utiliser le service à des fins frauduleuses.</li>
			<li>Si vous n'effectuez pas de don récurrent votre compte est supprimé au bout d'un mois complet d'inactivité (non connection au site internet, synchronisation depuis n'importe quel logiciel client), il sera alors impossible de récupérer vos données.</li>
			<li>Vous êtes responsables de vos données, actuellement elles ne sont pas stockées sur un volume chiffré. Cela veut notamment dire que nos équipes d'administration peuvent y avoir accès.</li>
			<li>Vous autorisez l'équipe d'administration à vous contacter par e-mail (à l'adresse utilisée pour l'inscription), en cas de problème technique mais aussi simplement pour faire passer des informations en rapport direct avec le service utilisé.</li>
		</ul>
	<h4>2. Forge logicielle libre, Gitlab</h4>
		<p>Le service de forge logicielle est une instance Gitlab CE (Community Edition) standard. Le service inclu l'ensemble des fonctionnalités proposées par le logiciel et ceci de manière totalement illimité.</p>
	<h4>3. Forum de discussion, Flarum</h4>
		<p>Le forum de discussion mis à disposition est une instance de Flarum agrémentée de quelques extensions et d'une traduction française du logiciel. Elle a vocation à permettre la communication entre les membres utilisateur-ice-s et administrateur-ice-s du projet. Bien évidemment les règles habituelles de bienséances sont à respecter, aucune parole ou comportement sexiste, raciste, xénophobe, homophobe ou encore transphobe ne sera toléré. De même nous refusons catégoriquement tout agisme ou classisme, comme tous les autres espaces du projet nous voulons y être porteur-euse-s de respect de l'autre et de solidarité.<br /> En cas de problème la personne contrevenant à ces règles pourra se voir retirer ses accès à l'ensemble des services du projet, et ce sans préavis quelconque.</p>
	<h4>4. Salon de discussion IRC</h4>
		<p>Le salon de discussion IRC est mis à disposition par Freenode, il est hébergé sur leurs serveurs et joignable de différentes manières. Les règles d'utilisation de ce service sont globalement identiques à celles du forum, cependant du fait du caractère « immédiat » de la discussion instantannée possible il convient de préciser les choses suivantes :</p>
		<ul>
						<li>Vous avez un problème d'ordre technique ? Le forum est plus approprié pour la résolution des problèmes.</li>
						<li>Vous avez une question ? Posez là sans attendre et soyez patient pour la réponse, si vous êtes pressé il est préférable de nous contacter par e-mail ou d'utiliser le forum.</li>
						<li>Ne perdez pas de vue que l'ensemble des contributeur-ice-s sont bénévoles, ils ne sont pas disponible H/24.</li>
				</ul>
		<br />
		<p>Page modifiée la dernière fois le 1er juillet 2016.</p>
	</section>
</main>
{{ partial "footer.html" }}
