{{ partial "header.html" . }}
<main>
    <section>
    	<article>
		  <p>Unixcorn fournit des services respectueux de votre vie privée et donc construits avec du logiciel libre, dans la lignée de <a href="http://framasoft.net">Framasoft</a>. Nos serveurs sont hébergés à Paris, en France.</p>
		</article>
	</section>
	<section class="featured">
		<article class="third">
        <h4>Partage</h4>
			<br><a class="button" href="https://paste.unixcorn.org" ><i class="fa fa-clipboard fa-2x" ></i>&nbsp;&nbsp;&nbsp;&nbsp;Texte (PrivateBin)</a>
		  <br><a class="button" href="https://pics.unixcorn.org" ><i class="fa fa-picture-o fa-2x" ></i>&nbsp;&nbsp;&nbsp;&nbsp;Images (Lutim)</a>
      <br><a class="button" href="https://drop.unixcorn.org" ><i class="fa fa-cloud-upload fa-2x" ></i>&nbsp;&nbsp;&nbsp;&nbsp;Fichiers (Jirafeau)</a>
		</article>
		<article class="third">
        <h4>Collaboration</h4>
			<br><a class="button" href="https://cloud.unixcorn.org"><i class="fa fa-cloud fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Nextcloud</a>
			<br><a class="button" href="https://gogs.unixcorn.org"><i class="fa fa-code-fork fa-2x" ></i>&nbsp;&nbsp;&nbsp;&nbsp;Forge (Gogs)</a>
		</article>
		<article class="third">
        <h4>Social</h4>
      <br><a class="button" href="https://unixcorn.xyz" ><i class="fa fa-share-square-o fa-2x" ></i>&nbsp;&nbsp;&nbsp;&nbsp;Réseau social (Mastodon)</a>
			<br><a class="button" href="https://forum.unixcorn.org" ><i class="fa fa-comments-o fa-2x" ></i>&nbsp;&nbsp;&nbsp;&nbsp;Forum de discussion</a>
		</article>
		<article class="third">
			<br><h5><i class="fa fa-info-circle" ></i>&nbsp;&nbsp;Voyez nos <a href="services.html">services</a> plus en détail.</h5>
		</article>
		<article class="third">
			<br><h5><i class="fa fa-server" ></i>&nbsp;&nbsp;Vérifiez <a href="https://status.unixcorn.org">l'état des services</a> en temps réel.</h5>
		</article>
	</section>
	<section>
		<article class="half">
			<h4 class="center">Documentation &amp; Support</h4>
			<p>Si vous avez une question ou un problème ?</p>
			<table>
				<tr>
					<td><i class="fa fa-book fa-2x" ></i></td>
					<td>Lisez la <a href="https://gogs.unixcorn.org/unixcorn-project/public-documentation/wiki">documentation</a> (wiki)</td>
				</tr>
				<tr>
					<td><i class="fa fa-question-circle fa-2x" ></i></td>
					<td>Parcourez le <a href="http://forum.unixcorn.org">forum de discussion</a></td>
				</tr>
        <tr>
					<td><i class="fa fa-comments-o fa-2x" ></i></td>
					<td>Chattez avec nous sur <a href="https://gitter.im/unixcornproject/Lobby">Gitter</a></td>
				</tr>
			</table>
		</article>
		<article class="half">
			<h4 class="center">Contribuer</h4>
			<p>Unixcorn est un projet Libre auquel⋅le chacun⋅e peut participer&nbsp;:</p>
			<table>
				<tr>
					<td><i class="fa fa-pencil fa-2x"></i></td>
					<td>En écrivant de la <a href="https://gogs.unixcorn.org/unixcorn-project/public-documentation/wiki">documentation</a></td>
				</tr>
				<tr>
					<td><i class="fa fa-retweet fa-2x"></i></td>
					<td>En contribuant à d'autres projets <a href="https://chatons.org">CHATONS</a></td>
				</tr>
        <tr>
					<td><i class="fa fa-medkit fa-2x" ></i></td>
					<td>Aidez les utilisateur-ice-s sur le <a href="http://forum.unixcorn.org">forum de discussion</a></td>
				</tr>
			</table>
		</article>
	</section>
</main>
{{ partial "footer.html" }}
