{{ partial "header.html" . }}
<main>
    <section>
    	<article>
		  <p>Unixcorn est un projet supporté par <a href="http://whiskers.systems">Whiskers Systems</a>, nous fournissons des services respectueux de votre vie privée et donc construits avec du logiciel libre, dans la lignée de <a href="http://framasoft.net">Framasoft</a>. Nos serveurs sont hébergés à Amsterdam aux Pays-Bas et à Francfort en Allemagne.</p>
		</article>
	</section>
	<section class="featured">
		<article class="third">
			<h4>Coopération</h4>
			<br><a class="button" href="https://paste.unixcorn.org" ><i class="fa fa-clipboard fa-2x" ></i>&nbsp;&nbsp;&nbsp;&nbsp;Partage de texte</a>
		  	<br><a class="button" href="https://pics.unixcorn.org" ><i class="fa fa-picture-o fa-2x" ></i>&nbsp;&nbsp;&nbsp;&nbsp;Partage d'images</a>
			<br><a class="button" href="https://drop.unixcorn.org" ><i class="fa fa-cloud-upload fa-2x" ></i>&nbsp;&nbsp;&nbsp;&nbsp;Partage de fichiers</a>
		</article>
		<article class="third">
			<h4>Social</h4>
			<br><a class="button" href="https://cloud.unixcorn.org"><i class="fa fa-cloud fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Cloud</a>
			<br><a class="button" href="https://forum.unixcorn.org" ><i class="fa fa-comments-o fa-2x" ></i>&nbsp;&nbsp;&nbsp;&nbsp;Forum de discussion</a>
		</article>
		<article class="third">
			<h4>Développement</h4>
			<br><a class="button" href="https://git.unixcorn.org"><i class="fa fa-code-fork fa-2x" ></i>&nbsp;&nbsp;&nbsp;&nbsp;Forge (Gitlab)</a>
			<br><a class="button" href="https://mattermost.unixcorn.org"><i class="fa fa-whatsapp fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Organisation d'équipes</a>
		</article>
		<article class="third">
			<br><h5><i class="fa fa-info-circle" ></i>&nbsp;&nbsp;Voyez nos <a href="services.html">services</a> plus en détail.</h5>
		</article>
		<article class="third">
			<br><h5><i class="fa fa-server" ></i>&nbsp;&nbsp;Vérifiez <a href="http://stats.uptimerobot.com/E89Qgh1pl">l'état des services</a> en temps réel.</h5>
		</article>
	</section>
	<section>
		<article class="half">
			<h4 class="center">Documentation &amp; Support</h4>
			<p>Si vous avez une question ou un problème ?</p>
			<table>				
				<tr>
					<td><i class="fa fa-book fa-2x" ></i></td>
					<td>Lisez la <a href="https://git.unixcorn.org/UnixcornProject/public-documentation/wikis/home">documentation</a> (wiki)</td>
				</tr>
				<tr>
					<td><i class="fa fa-comments-o fa-2x" ></i></td>
					<td>Parcourez le <a href="http://forum.unixcorn.org">forum de discussion</a></td>
				</tr>
			</table>
		</article>
		<article class="half">
			<h4 class="center">Contribuer</h4>
			<p>Unixcorn est un projet Libre auquel⋅le chacun⋅e peut participer&nbsp;:</p>
			<table>
				<tr>
					<td><i class="fa fa-pencil fa-2x"></i></td>
					<td>En écrivant de la <a href="https://git.unixcorn.org/UnixcornProject/public-documentation/wikis/home">documentation</a></td>
				</tr>
				<tr>
					<td><i class="fa fa-retweet fa-2x"></i></td>
					<td>En contribuant à d'autres projets qui <a href="https://degooglisons-internet.org/">degooglisent Internet</a> avec des <a href="https://chatons.org">CHATONS</a></td>
				</tr>
			</table>
		</article>
	</section>
</main>
{{ partial "footer.html" }}

