<div id="header-top" style="">
	<ul class="topnav" id="myTopnav">
	<li><img src="https://pics.unixcorn.org/PoOLj2m7/QLYbHmTh.png" alt="logo">
	</li><li><a href="index.html">&nbsp;Accueil</a></li>
	<li><a href="https://gitter.im/unixcornproject/Lobby">Chat</a></li>
	<li><a href="services.html">Services</a></li>
	<li><a href="https://gogs.unixcorn.org/unixcorn-project/public-documentation/wiki">Wiki</a></li>
	<li><a href="rules.html">CGU</a></li>
	<li class="icon">
		<a href="javascript:void(0);" onclick="toggleNav()">☰</a>
	</li>
</ul>
</div>