---
title: Infrastructure
---

<main>
    <section class="presentation">
        <h1>Infrastructure</h1>
    </section>
    <section>
		<div class="services">
			<article class="service">
				<a href="https://proxmox.com/en/"><img style="max-width: 60%" src="images/external/proxmox.png"></a>
				<p>
					«&nbsp;Proxmox Virtual Environment&nbsp;» est une solution complète de virtualisation,
					basée sur KVM et les conteneurs LXC. Notre infrastructure repose sur ces technologies
					open-source, Proxmox contribue doublement en nous fournissant gracieusement des
					licences d'utilisation «&nbsp;Enterprise&nbsp;».
				</p>
			</article>
			<article class="service">
				<a href="https://www.debian.org/index.fr.html"><img style="max-height: 80%" src="images/external/debian.png"></a>
				<p>
					«&nbsp;Debian » GNU/Linux est un système d'exploitation libre dit universel.
					Il est utilisé à tous les niveaux dans notre infrastructure,
					que ce soit en entrée sur nos proxy ou en back-end avec nos bases de données.
				</p>
			</article>
			<article class="service">
				<a href="https://caddyserver.com"><img style="max-width: 60%" src="images/external/caddy.png"></a>
				<p>«&nbsp;Caddy&nbsp;» est un serveur web HTTP/2 avec intégration automatique du protocole de chiffrement TLS.
				L'ensemble de nos services et sites internet sont servis par nos front-end Caddy
				et les certificats du projet Let's Encrypt.
			</p>
			</article>
		</div>
    </section>
</main>