<div class="invisible h-card">
    <a class="u-url" href="https://unixcorn.org">
	    <img class="u-photo" src="images/profile.png">
	    <span class="p-name">Unixcorn</span>
    </a>
    <p class="p-note">Unixcorn.org, site web de licornes fanatiques. Hébergement et services web à prix libre mais non gratuit. Le tout propulsé par des technologies libres et respectueuses de votre vie privée.</p>
    <div>
	    <a href="https://twitter.com/unixcornproject" title="Twitter" rel="me" class="u-url"><i class="fa fa-2x fa-twitter"></i></a>
	    <a href="https://git.unixcorn.org/groups/UnixcornProject" title="GitHub" rel="me" class="u-url"><i class="fa fa-2x fa-github"></i></a>
	    <a href="mailto:root@unixcorn.org" title="e-mail" rel="me" class="u-email"><i class="fa fa-2x fa-at"></i></a>
    </div>
</div>
